.primary-btn button {
  font-size: 14px;
  color: #fff;
  background-color: var(--primary-color);
  padding: 12px 30px;
  display: inline-block;
  border-radius: 4px;
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
}
button:link {
  text-decoration: none;
}

button:visited {
  text-decoration: none;
}

button:active {
  text-decoration: none;
}
button {
  cursor: pointer;
  transition: all 200ms linear;
}
.primary-btn button:hover {
  background-color: #fff;
  color: var(--primary-color);
  text-decoration: none;
}
/* they may change place button tag */
