.container {
  margin: 5px;
}
.upload input[type="file"] {
  display: none;
}
.upload-path {
  display: inline-block;
  padding: 10px;
  min-width: 200px;
  font-style: italic;
}
.upload span {
  color: rgb(255, 255, 255);
}

.upload {
  display: inline-block;
  padding: 10px;

  background: var(--primary-color);

  font-size: 13px;
  font-weight: bold;
}
.upload:hover {
  background: rgb(255, 254, 254);
  color: var(--primary-color);
}
/* .upload:active {
  background: rgb(0, 83, 236);
} */
.upload:invalid + span {
  color: red;
}
.upload:valid + span {
  color: white;
}
